@font-face {
    
font-family: 'nexalight';
    
src: url('nexalight.woff2') format('woff2'),
         
url('nexalight.woff') format('woff');
   
font-weight: normal;
    font-style: normal;

}


@font-face {

    font-family: 'nexabold';

    src: url('nexabold.woff2') format('woff2'),

         url('nexabold.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'proximanova';

    src: url('proximanova.woff2') format('woff2'),

         url('proximanova.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}